@inject FormulaOneTech.Services.Ergast.IErgastService _ergastService;
@using Models.Ergast;
@using FormulaOneTech.Helpers;

<div class="text-[#E4EDF5]">
    @if (isLoading)
    {
        <div>Loading...</div>
    }
    else
    {

        <div class="no-scrollbar border-8 bg-opacity-60 border-r-0 border-b-0 border-l-0 overflow-y-auto rounded-lg border-red-700 border-t-red-700 bg-gray-800 bg-clip-padding p-5 backdrop-blur-lg backdrop-filter">
            <div class="grid gap-2 @(NextRace.Sprint != null ? "grid-cols-3" : "grid-cols-2")">
                <div class="flex flex-col gap-1">
                    <span class="font-bold uppercase text-red-600">Round @NextRace.Round - Upcoming</span>                    <div class="text-xl font-extrabold uppercase">@NextRace.RaceName</div>
                    @* <span class="rounded-2xl bg-stone-400 p-2 text-base font-extrabold">@NextRace.FirstPractice.SessionTime.Value.ToString("dd") <span>-</span> @NextRace.SessionTime.Value.ToString("dd MMMM")</span> *@
                    <div class="font-bold">
                        <span>@NextRace.Circuit.CircuitName</span> <span class="font-bold">-</span>
                        <span class="font-medium">@NextRace.Circuit.Location.Locality, @NextRace.Circuit.Location.Country</span>
                    </div>

                    <div class="font-medium"><span class="text-xl font-extrabold uppercase">Race</span> <span class="text-lg font-medium">@NextRace.SessionTime.Value.ToString("ddd d HH:mm")</span></div>
                </div>
                @if (NextRace.Sprint != null)
                {
                    <div class="font-medium">
                        <div class="text-xl font-extrabold">
                            Sprint Race
                        </div>
                        <div>
                            @NextRace.Sprint.SessionTime.Value.ToString("MMMM dd ddd HH:mm")
                        </div>
                    </div>
                }
                <div class="flex w-fit flex-col justify-between font-medium">
                    <div class="flex items-center justify-between gap-5">
                        <div class="text-xl font-extrabold">
                            Practice 1
                        </div>
                        <div class="text-lg font-bold">
                            @NextRace.FirstPractice.SessionTime.Value.ToString("dddd d HH:mm")
                        </div>
                    </div>
                    <div class="flex items-center justify-between gap-5">
                        <div class="text-xl font-extrabold">
                            Practice 2
                        </div>
                        <div class="text-lg font-bold">
                            @NextRace.SecondPractice.SessionTime.Value.ToString("dddd d HH:mm")
                        </div>
                    </div>
                    <div class="flex items-center justify-between gap-5">
                        <div class="text-xl font-extrabold">
                            Practice 3
                        </div>
                        <div class="text-lg font-bold">
                            @NextRace.ThirdPractice.SessionTime.Value.ToString("dddd d HH:mm")
                        </div>
                    </div>
                    <div class="flex items-center justify-between gap-5">
                        <div class="text-xl font-extrabold">
                            Qualifying
                        </div>
                        <div class="text-lg font-bold">
                            @NextRace.Qualifying.SessionTime.Value.ToString("dddd d HH:mm")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


@code {
    //get datetime from today next one
    public RaceMapper.RaceDto NextRace = new RaceMapper.RaceDto();
    private bool isLoading = true;
    protected override async Task OnInitializedAsync()
    {
        NextRace = await GetNextRace();

        if (NextRace != null)
        {
            isLoading = false;
        }
    }

    private async Task<RaceMapper.RaceDto> GetNextRace()
    {
        var nextRace = await _ergastService.GetNextRace();
        return nextRace;
    }
}
